@import "~spinkit/css/spinners/7-three-bounce.css";

.s--spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(127, 127, 127, .50);
    z-index: 10000;
    /* d-flex */
    display: -ms-flexbox !important;
    display: flex !important;
    /*justify-content-center */
    -ms-flex-pack: center !important;
    justify-content: center !important;
    /* align-items-center */
    -ms-flex-align: center !important;
    align-items: center !important;

}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .s--spinner .sk-three-bounce {
        display: table-cell;
    }
}

.sk-three-bounce {
    margin: 40px auto;
    width: 80px;
    text-align: center;
}

.sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-three-bounce {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}